//fonts
@font-face
  font-family: 'Myriad'
  src: url(../fonts/MYRIADPRO-REGULAR.OTF) format('opentype')
  font-weight: normal
@font-face
  font-family: 'Myriad'
  src: url(../fonts/MYRIADPRO-BOLD.OTF) format('opentype')
  font-weight: bold
@font-face
  font-family: 'MyriadSemiBold'
  src: url(../fonts/MYRIADPRO-SEMIBOLD.OTF) format('opentype')
@font-face
  font-family: 'Milibus'
  src: url(../fonts/Milibus-Bold.ttf) format('truetype')
  font-weight: bold
@font-face
  font-family: 'Milibus'
  src: url(../fonts/Milibus-Light.ttf) format('truetype')
  font-weight: 100
@font-face
  font-family: 'Milibus'
  src: url(../fonts/Milibus-SemiBold.ttf) format('truetype')
  font-weight: normal
//vars
$blue: #00aae7
$margin-left: 78px
$margin-right: 58px
*
  box-sizing: border-box
html
  margin: 0
  padding: 0
  height: 100%
body
  margin: 0
  font-family: 'Milibus', Verdana, Helvetica, Arial, sans-serif
  &:lang(ru)
    font-family: 'Myriad', Verdana, Helvetica, Arial, sans-serif
  color: white
  background-image: url(../assets/taust.svg)
  background-position: -40px -70px
  background-repeat: no-repeat
  background-size: cover
#pop-up
  display: none
  width: calc(100% + 24px)
  left: -24px
  bottom: 75px
  position: absolute
  background: white
  color: #323232
  img
    max-width: 108px
    width: 100%
  ul
    padding-left: 30px
    line-height: 22px
    font-weight: lighter
    margin: 0
    & li:first-of-type,
    & li:nth-of-type(2)
      margin-bottom: 8px
  .wrapper
    margin-left: 26px
  strong
    color: $blue
    font-size: 21px
    line-height: 22px
  .close
    cursor: pointer
    display: block
    float: right
    margin-top: 16px
    margin-right: 16px
  .row
    margin: 60px 50px 60px 50px
    display: flex
    &:lang(ru)
      margin: 25px
  h3
    margin-top: 0
    margin-bottom: 10px
    color: $blue
    font-size: 23px
    line-height: 29px
    font-weight: bold
    text-transform: uppercase
#card
  position: relative
  display: flex
  flex-direction: column
  max-width: 800px
  margin: 80px auto
  padding-bottom: 280px
  background: $blue
.triangle
  width: 100%
  max-width: 80px
  padding-top: 80px
  padding-bottom: 70px
  margin: 0 auto
  display: flex
.card-row
  position: relative
  margin-left: $margin-left
  margin-right: $margin-right
  display: flex
.content
  margin-right: 34px
.apps
  margin-top: 25px
  .google
    margin-right: 12px
#logod
  display: flex
  align-items: center
  .elektrilevi
    margin-right: 50px
#sidebar
  margin-top: 70px
  &:lang(ru)
    b
      font-weight: bold
    p
      line-height: 16px
      margin-bottom: 0
    .kuusk, .danger
      padding: 10px 14px
  .kuusk, .danger
    padding: 20px 10px
    width: 170px
    height: 170px
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center
    align-items: center
    p
      width: 100%
  .kuusk
    border: 1px solid white
  .danger
    cursor: pointer
    margin-top: 35px
    background: white
    color: $blue
  b
    font-weight: normal
h1
  margin-left: $margin-left
  line-height: 22px
  margin-bottom: 30px
  margin-top: 0
  font-weight: bold
  font-size: 35px
  text-transform: uppercase
h2
  margin-top: 25px
  margin-bottom: 50px
  width: calc(100% + 16px)
  font-weight: normal
  font-size: 20px
  line-height: 24px
  &:lang(ru)
    font-family: 'MyriadSemiBold', Verdana, Helvetica, Arial, sans-serif
p
  margin: 10px 0
  font-weight: 100
  line-height: 21px
a
  color: white
  text-decoration: none
  font-weight: bold
.lang
  top: 32px
  right: 32px
  position: absolute
  text-decoration: none
  color: white
  font-family: 'MyriadSemiBold', Verdana, Helvetica, Arial, sans-serif
@media (max-width: 666px)
  #card
    padding-bottom: 180px
  #pop-up
    width: calc(100% + 30px)
    left: -15px
    bottom: 0
    h3
      font-size: 20px
    .wrapper
      margin-left: 0
    .row
      flex-direction: column
      align-items: center
      margin: 15px
      img
        width: 60px
        margin-bottom: 15px
  #sidebar
    display: flex
    justify-content: space-around
    margin-top: 30px
    .danger
      margin-top: 0
  #logod
    justify-content: center
    .elektrilevi
      margin-right: 20px
  .lang
    top: 20px
    right: 20px
  .triangle
    padding-top: 40px
    padding-bottom: 30px
  .content
    margin-right: 0
  h1
    font-size: 24px
    margin-left: 20px
    margin-bottom: 10px
  h2
    margin: 20px 0 20px 0
  .card-row
    flex-direction: column
    margin-left: 20px
    margin-right: 20px
